<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Denied</title>

</head>
<body>
<h1>Return</h1><form th:method="GET" th:action="@{/user}">
  <input type="submit" value="return">
</form>
<br>
<form th:method="GET" th:action="@{/logout}">
  <input type="submit" value="LOGOUT">
</form>
</body>
</html>